@page
@model SalesTracker.Pages.AdministrationModel
@{
    ViewData["Title"] = "Administration";
}

<div class="row d-flex justify-content-center">
    <div class=" col-md-8">
        <table class="table text-center table-bordered table-striped table-hover">
            <thead>
                <tr><td><h2>Administrative Tables</h2></td></tr>
            </thead>
            <tbody>
                <tr><td><a href="/Departments"><h5>Departments</h5></a></td></tr>
                <tr><td><a href="/SalesPeople"><h5>Sales People</h5></a></td></tr>
                <tr><td><a href="/StoreItems"><h5>Store Items</h5></a></td></tr>
                <tr><td><a href="/Sales"><h5>Sales</h5></a></td></tr>
                <tr><td><a href="/AwardsNotices"><h5>Awards and Notices</h5></a></td></tr>
            </tbody>
        </table>
    </div>
</div>
