@page
@model SalesTracker.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

    <body>
        <h1>Follow the following steps to use this application</h1>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <h2 class="featurette-heading">Modal Pages. <span class="text-muted">Input your data.</span></h2>
                <p class="lead">First, we need to create records of all the items in our database. This can be done by clicking Administration and selecting any one of the options- Departments, Salespeople, Sales, Store Items and Awards and Notices. There are 4 options on each these pages with are the basic CRUD options.  </p>
            </div>
            <div class="col-md-7">
                <img class="featurette-image img-fluid mx-auto" src="~/images/Models.png" style="width: 100%;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-2">
                <h2 class="featurette-heading">Dashboard. <span class="text-muted">Performance at a glance.</span></h2>
                <p class="lead">This is the main dashboard on the Website which gives the details of all the Statistics needed to make the decision. Mainly it has 4 dashboards. You can Felicitate, Promote, Notify and Fire the employees from this page.</p>
            </div>
            <div class="col-md-7 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/images/dashboard.png" style="width: 100%;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <h2 class="featurette-heading">Salespeople by Department. <span class="text-muted">All the employees.</span></h2>
                <p class="lead">On this page can view the list of all the salespeople based on department. We can view whether the employee is the Manage, whether he is Highly Awarded, or he is Highly Notified. We can also view the list of all the employees who has left the organization.</p>
            </div>
            <div class="col-md-7">
                <img class="featurette-image img-fluid mx-auto" src="~/images/salesbyDepartment.png" style="width: 100%;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-2">
                <h2 class="featurette-heading">Find the Store items. <span class="text-muted">Quickly!</span></h2>
                <p class="lead">This page provides the comprehensive list of all the items available on the store irrespective of category. We can perform a quick search for all the items on the website and also add a sale for the selected items during sales season.</p>
            </div>
            <div class="col-md-7 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/images/AwardsandNotices.png" style="width: 100%;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <h2 class="featurette-heading">Track Awards and Notices. <span class="text-muted">Side by side.</span></h2>
                <p class="lead">We can view the past record of our awards and notices on this page. It provides the list of employees in the descending manner showing the most recently awarded first. The page also provides the date on which the employees were awarded or given notices.</p>
            </div>
            <div class="col-md-7">
                <img class="featurette-image img-fluid mx-auto" src="~/images/search.png" style="width: 100%;">
            </div>
        </div>
    </body>
