@page
@model SalesTracker.Pages.Sales.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sale.Id" />
            <div class="form-group">
                <label asp-for="Sale.SalesPersonId" class="control-label"></label>
                <select asp-for="Sale.SalesPersonId" class="form-control" asp-items="ViewBag.SalesPersonId"></select>
                <span asp-validation-for="Sale.SalesPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.StoreItemId" class="control-label"></label>
                <select asp-for="Sale.StoreItemId" class="form-control" asp-items="ViewBag.StoreItemId"></select>
                <span asp-validation-for="Sale.StoreItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Quantity" class="control-label"></label>
                <input asp-for="Sale.Quantity" class="form-control" />
                <span asp-validation-for="Sale.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
