@page
@model SalesTracker.Pages.Forms.FireSalesPersonFormModel
@{
    ViewData["Title"] = "FireSalesPersonForm";
}

<h1>Fire SalesPerson Form</h1>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" style="margin-top: 50px;">

            <div class="form-group">
                <label class="control-label">Sales Person Name</label>
                <div>
                    <p class="form-control-static">@Model.SalesPerson.DisplayName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Joining Date</label>
                <div>
                    <p class="form-control-static">@Model.SalesPerson.JoiningDate.ToString("MM-dd-yyyy")</p>
                </div>
            </div>

            @if (Model.SalesPerson.IsEmployed)
            {

                <input type="hidden" asp-for="FireSPForm.SalesPersonId" />
                <div class="form-group">
                    <label asp-for="FireSPForm.FireDate" class="control-label"></label>
                    <input asp-for="FireSPForm.FireDate" class="form-control" />
                    <span asp-validation-for="FireSPForm.FireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Fire Sales Person" class="btn btn-danger" />
                    | <a asp-page="/Index">Back to Dashboard</a>
                </div>
                 
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Fire Date</label>
                    <div>
                        <p class="form-control-static">@Model.SalesPerson.LeavingDate.Value.ToString("MM-dd-yyyy")</p>
                    </div>
                </div>
                <div class="alert alert-warning">
                    <p>This Sales Person is no longer employed</p>
                </div>
                <a asp-page="/Index">Back to Dashboard</a>
            }
        </form>
    </div>
</div>